nav{
    /* position: fixed;
    width: 100%; */
     /* very important because of this we can fix nav bar on screen with backgroung img */
    background-color: whitesmoke; 
    margin-bottom: 10px;
    margin-right: 20px;
    /* margin-top: 0%;
    padding: 0%; */
    top: 0;
    bottom: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 8vw;
    gap: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed; 
    /* without position tag we cant access z-index */
    z-index: 999; 
    /* used for see nav tag while scrolling */
}

nav img{
    width: 250px;
    cursor: pointer;

}

nav .navigation{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
nav .navigation #menu{
    width: 10px;
    height: 30px;
    display: none;
}

nav .navigation #close{
     display: none;
}

nav .navigation a{
    text-decoration: none!
    important;
    display: flex;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    
}

nav .navigation a:hover{
    color: yellow;
}
h1{
 text-align: center;
   margin-top: 50px; 
   padding: 20px;
   padding-top: 100px;
}
h2{
    text-align: center;
    padding-top: 50px;
}
.contact{
    text-align: center;
    padding: 20px;
}
body{
    background-color: navy;

}
.contact1{
    background-color: aliceblue;
   margin: 40px;
   margin-top: 20px;
   height: 40rem;
}